# Base
**/_files/**.*
**/_temp/**.*
**/_*/**.*

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Firebase
**/GoogleService-Info.plist
**/google-services.json