<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81921250246-51q5ials11v3lvsohg46p2b3t84ejj2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81921250246-51q5ials11v3lvsohg46p2b3t84ejj2n</string>
	<key>API_KEY</key>
	<string>AIzaSyCjhoWC2tE5ZPvVr3yyEaN6lOjRJvqETX8</string>
	<key>GCM_SENDER_ID</key>
	<string>81921250246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softi.hera.app</string>
	<key>PROJECT_ID</key>
	<string>softi-hera</string>
	<key>STORAGE_BUCKET</key>
	<string>softi-hera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81921250246:ios:884091a126d2ff252498c7</string>
</dict>
</plist>